.mostPopularList {
  margin-bottom: 200px;
}

.mostPopularList__Name {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}

.mostPopularList__Name span {
  color: #09090c;
  padding-right: 1px;
  font-size: 52px;
  font-style: italic;
  font-weight: 900;
  margin-right: 20px;
  background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-stroke: 4px transparent;
}

.mostPopularList__slider {
  padding-right: 20px !important;
}

.mostPopularList__sliderItem {
  width: 559px !important;
}

.mostPopularList__sliderItem:nth-child(1n + 10) {
  width: 799px !important;
}
