.mostPopularItem__wrapper {
  display: inline-flex;
  align-items: center;
}

.mostPopularItem__top {
  font-family: "Archivo", sans-serif;
  color: #09090c;
  margin-right: -80px;
  min-width: 250px;
  text-align: center;
  font-size: 360px;
  font-style: italic;
  font-weight: 900;
  background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-stroke: 8px transparent;
}

.newItem__image {
  display: block;
  border-radius: 32px;
  position: relative;
  z-index: 10;
}
