.ChipQuality {
  font-size: 24px;
  font-weight: 500;
  padding: 12px;
  width: 139px;
  text-align: left;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.13) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(10px);
}
